:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --gray-0: #a4a4a4;
  --gray-dark: #212020;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  /* font: 18px/145% var(--sans); */
  font-family: var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--gray-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
}

body {
  background-color: white;
}

h3 {
  font-size: 1.3rem;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.right {
  width: 100%;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 450px;
  border-right: 2px solid var(--gray-0);
  height: 100svh;
}

.building-info {
  min-height: 80vh;
}

.pois {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pois header {
  text-align: center;
  margin-bottom: 0.8rem;
}
.pois .icon {
  font-size: 2rem;
}

.instrucao {
  margin-left: 1rem;
}

.instrucao header {
  margin-bottom: 8px;
  text-align: start;
}

.instrucao header h3 {
  margin: 0;
  font-size: 1.1rem;
}

.instrucao-lista {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.instrucao-lista h2 {
  margin-top: 2rem;
}

.pois .card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: start;
  background: #e1e1e1;
  overflow: hidden;
  border-radius: 4px;
}

.card.selected {
  border: 3px solid #4e4e4e;
}

.card:hover {
  border: 3px solid blue;
}

.card .body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card span {
  font-weight: 300;
}

.card .andares {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.card .nome {
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

.card .andares span {
  background-color: #ffefba;
  padding: 4px;
  border-radius: 16px;
}

.poi-a-descricao h2 {
  margin: 1rem 0;
}

.poi-a-descricao .img-lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.poi-a-descricao .img-lista img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}
